h1{
    margin: 0 auto ;
    text-align: center;
    text-shadow:green 5px 5px 4px;
    color: aqua;

}
table{
    text-align:right;
}


p{
    
    font-size: 1rem;
    margin-top: 0em;
    margin-right: 4em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    letter-spacing: 1px;
}
a:link
{
    font-weight: bold;
    color: rgb(18, 165, 213);
}
a:visited
{
    color: rgb(23, 150, 127);
}
a:hover {
    background-color: rgb(255,255,204);
}
header{
    font-size: 1rem;
    margin-top: 0em;
    margin-right: 4em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    letter-spacing: 1px;
    color: rgb(18, 165, 213);
}
body{
    background-color: whitesmoke;
    background-image:
    url(images2/background-pattern.png);
}

article
{
    background-color: white;
    margin-top: 0em;
    margin-right: 4em;
    margin-bottom: 1em;
    margin-left: 4em;
    padding: 0.5em;
}
div.act ul li
{
    list-style: none;
    display: inline;
}
figure
{
    margin-top: 0em;
    margin-right: 4em;
    margin-bottom: 0em;
    margin-left: 4em;
}